<!doctype html>
<html>
<head>
	<title>hi</title>
</head>
<body>
	<ul id="everything">
		<li id="portland">you've walked the distance between here and portland <strong>${num_times_walked_to_portland}</strong> times</li>
		<li id="percentage">currently at <strong>${percentage_of_weekly_goal}%</strong> of your weekly goal</li>
		<li id="badges">badges earned this week: ${badges_this_week}</li>
		<li id="miles_walked"><strong>${miles_walked}</strong> miles walked this week</li>
		<li id="miles_remaining"><strong>${miles_remaining}</strong> miles left this week</li>
		<li id="weekday_distances"><strong>${weekday_distances}</strong> distances this week</li>
		<li id="daily_average"><strong>${daily_average_so_far}</strong> miles per day average so far this week</li>
		<li id="daily_average_required"><strong>${daily_average_required_for_rest_of_week}</strong> miles per day average required for remaining days in week</li>
		<li id="best_weekday"><strong>${best_weekday}</strong> was your best day so far this week - you walked <strong>${best_distance}</strong> miles</li>
	</ul>
</body>
</html>
